@model IEnumerable<ConsumeSpotifyWebAPI.Models.Release>

@{
    ViewData["Title"] = "Search";
}

<div class="row mt-4">
    @foreach (var item in Model)
    {
        <div class="card m-1 bg-dark" style="width:350px;">
            <div class="card-body">
                <h5 class="card-title text-light">@Html.DisplayFor(modelItem => item.Artists)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Name)</h6>
                <p class="card-text text-muted">@Html.DisplayFor(modelItem => item.Date)</p>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="300" alt="Release picture"/>
                <a class="btn btn-outline-light mt-3" href="@Html.DisplayFor(modelItem => item.Link)" target="_blank">Listen</a>
            </div>
        </div>
    }
</div>