@using ConsumeSpotifyWebAPI.Models.Types
@model IEnumerable<ShowSearch>

@{
    ViewData["Title"] = "Shows";
}

<h1 class="text-muted">Shows</h1>
<div class="row mt-4 justify-content-center">
    @foreach (var item in Model)
    {
        <div class="card m-1 bg-dark" style="width:350px;">
            <div class="card-body">
                <h5 class="card-title text-light">@Html.DisplayFor(modelItem => item.Name)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Publisher)</h6>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="300" alt="Release picture"/>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Description)</h6>
                <h6 class="card-subtitle mb-2 text-muted">Episodes: @Html.DisplayFor(modelItem => item.NumOfEpisodes)</h6>
                <a class="btn btn-outline-light mt-3" href="@Html.DisplayFor(modelItem => item.Link)" target="_blank">Listen</a>
            </div>
        </div>
    }
</div>